*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
/* nav bar  start*/
#navbar{
    background :whitesmoke;

}
#logo{
    font-size: 36px;
    font-weight: 700;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #4fe817;
    
}
.navbar-toggler span{
    color: #4fe817;
}
.navbar-nav{
    margin-left: 30px;
}
.nav-item .nav-link
{
    font-size: 16px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background:  #4fe817;
    color: white;
}
#navbar form button{
    background:  #4fe817;
    color: white;
    border: none;
}

/* nav bar end */
/* home section start */
.home{
    width:100%;
    height: 90vh;
    background-image: url(./images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 550px;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;

}
.changecontent::after{

content: '';
color:  #4fe817;
text-shadow: 0px 1px 1px black;
animation:changetext 10s infinite linear;

}
@keyframes changetext{
    0%{content: "France";}
   10%{content: "Spain";}
    20%{content: "Usa";}
    30%{content: "India";}
    40%{content: "Germany";}
   50%{content:  "England";}
    60%{content:  "Dubai";}
    70%{content: "Tailand";}
    80%{content:  "Egypt";}
    90%{content: "Europe";}
    100%{content: "China";}
}
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;

}
.home .content a{
    padding: 10px;
    background: green;
    color: black;
    letter-spacing: 2px;
    font-weight: 550px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.home  .content a:hover{
    background: orange;
    color: white;
}
@media(max-width:850px)
{
    .home {
        background-position: 50%;
    }
    @media(max-width:450px)
    {
     .home .content h5{
            font-size: 25px;
        } 
     .home .content h1{
            font-size: 38px;
        }
        .home .content p{
            font-size: 13px;
        }

}
}
/* home section  end */
/* book  start*/
.book{
    background: #f9f9f9;
    padding: 50px;
}
.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span{
    color:green;
}
.book .card{
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px black;
    height: 200px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background:  #4fe817;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px;
}
@media(max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding:20px;
    }
}

/* book end */
/* section package start */
.main-text h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-text h1 span{
    color: #4fe817;
}
.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0,1) 0px 4px 12px;
    
}
.packages .card img{
    border-radius: 5px;
}


.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body
{
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body p{
    font-size: 15px;

}
.checked{
    color:orange;
}
.star i{
    font-size: 15px;
}
.packages .card .card-body a{
    padding:10px;
    text-decoration: none;
    background:  #4fe817;
    color: white;
    border-radius: 5px;
}


/* section packages end */
/* services start */
.services{
    background: white;
    margin-top: 50px;
}
.services .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}
.services .card i{
    font-size: 80px;
    text-align: center;
    color: #4fe817;
    margin-top: 20px;
}
.services .card .card-body h3{
    font-weight: 600;
}
.services .card .card-body{
    text-align: center;
}

/* services end */
/*  gallery start*/

.gallery{
    margin-top: 50px;
}
.gallery .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallery .card img{
border-radius: 10px;
transition: 0.5s;
}
.gallery .card img:hover{
    transform: scale(1.1);
}






/* gallery end */
/* about us start */
.about{
    padding: 50px;
    background: white;
    /*margin-top: */
    
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-size: 500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #4fe817;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition:0.5s ease;
    cursor: pointer;
    padding-bottom: 50px;
}
#about-btn:hover{
    width: 170px;
}

/* about us end */
/* guide start */
.team-item{
box-shadow: 0 0 45px rgba(0, 0,0, 0.08);
}
.text-center span{
    color: #4fe817;
}
.team-item img{
    transition:0.5s;
    width:500px;
    height: 300px;
}
.team-item:hover img{
    transform: scale(1.1);
}
.team-item .btn{
    background: #ffffff;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);

}
.team-item .btn:hover{
    background: var(--primary);
    color: #ffffffff
    ;
}

/* guide end */
/* footer start */
#footer{
    width:100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #4fe817;
}
.social-links i{
    
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    
}
.social-links i:hover{
    background: #4fe817;
}


/* foter  end*/













